<h2>Edit Talent</h2>

<%= render "form.html", Map.put(assigns, :action, hero_talent_path(@conn, :update, @talent.hero_id, @talent)) %>

<span><%= link "Back", to: hero_talent_path(@conn, :index, @talent.hero_id) %></span>
